@model IEnumerable<ProjectMvC.DataModels.StatsTeam>
@{
    ViewBag.Title = "Overview";
}
@foreach (var item in Model)
{
    
    <div class="container-fluid">
        <div class="row" id="player-head">
            <div class="col-xs-2">
                <img id="avatar" src="@Url.Content("~/Images/avatar.jpg")" />
                <div></div>
            </div>
            <div class="col-xs-8">
                <span class="name-player">@item.Speler.naam</span>
                <span class="name-country"><img src="@Url.Content(string.Format("~/images/countrys/{0}.png", item.Speler.flag))"/></span>
            </div>
        </div>
        <div id="content" class="show-teams">
            <div class="row">
                <div class="row">
                    <div class="col-xs-1"><span class="glyphicon glyphicon-menu-left stats-title right-slide"></span></div>
                    <div class="col-xs-10">
                        <span class="stats-title">Stats Teams</span>
                    </div>
                    <div class="col-xs-1"><span class="glyphicon glyphicon-menu-right stats-title right-slide"></span></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 division-title">
                        <img class="division-img" src="@Url.Content(string.Format("~/Images/divisions/div{0}.png", @item.StatsTeamExtended.SeasonTeam))" />
                        <div class="col-xs-12">

                            <div class="division1-progress">

                                <div class="points-bar">

                                    <div class="point-progress">
                                        <span class="points-now"><span id="points-now-team">@item.StatsTeamExtended.points</span> pts</span>
                                    </div>
                                    <span id="getDivision" class="invisible">@item.StatsTeamExtended.SeasonTeam</span>
                                    <span id="getPoints" class="invisible">@item.StatsTeamExtended.points</span>
                                    <span id="getWins" class="invisible">@item.StatsTeamExtended.WinsTeam</span>
                                    <span id="getDraws" class="invisible">@item.StatsTeamExtended.DrawsTeam</span>
                                    <span id="getLoses" class="invisible">@item.StatsTeamExtended.LosesTeam</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-6">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
                <div class="col-xs-6">
                    <table id="stats-overview" class="table" >
                        <tr>
                            <td>Goals per game</td>
                            <td>@item.goals_per_game</td>
                        </tr>
                        <tr>
                            <td>Goals Against per game</td>
                            <td>@item.goals_against_per_game</td>
                        </tr>
                        <tr>
                            <td>Goal ratio</td>
                            <td>@item.goal_ratio</td>
                        </tr>
                        <tr>
                            <td>Favorit Team</td>
                            <td>@item.favorit_team</td>
                        </tr>
                        <tr>
                            <td>Scored most with</td>
                            <td>@item.scored_most_with</td>
                        </tr>
                        <tr>
                            <td>Player most scored against you</td>
                            <td>Messi</td>
                        </tr>
                        <tr>
                            <td>Most played vs</td>
                            <td>@item.most_played_against</td>
                        </tr>
                        <tr>
                            <td>Seasons played</td>
                            <td>@item.seasons_played</td>
                        </tr>
                        <tr>
                            <td>Seasons played current division</td>
                            <td>@item.seasons_played_current_division</td>
                        </tr>
                        <tr>
                            <td>Promotions</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Relegations</td>
                            <td>@item.relegations</td>
                        </tr>
                        <tr>
                            <td>highest division</td>
                            <td>@item.highest_division</td>
                        </tr>
                        <tr>
                            <td>Relegations</td>
                            <td>3</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        


        @*fut team stats*@



        <div id="content" class="show-fut">
            <div class="row">
                <div class="row">
                    <div class="col-xs-1"><span class="glyphicon glyphicon-menu-left stats-title right-slide"></span></div>
                    <div class="col-xs-10">
                        <span class="stats-title">Stats FUT</span>
                    </div>
                    <div class="col-xs-1"><span class="glyphicon glyphicon-menu-right stats-title right-slide"></span></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 division-title">
                        <img class="division-img" src="@Url.Content(string.Format("~/Images/divisions/div{0}.png", @item.StatsTeamExtended.SeasonTeam))" />
                        <div class="col-xs-12">

                            <div class="division1-progress">

                                <div class="points-bar">
                                    <div class="point-progress">
                                        <span class="points-now"><span id="points-now-fut">3</span> pts</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-6">
                    <canvas id="myChart2" width="400" height="400"></canvas>
                </div>
                <div class="col-xs-6">
                    <table id="stats-overview" class="table table-striped">
                        <tr>
                            <td>Goals per game</td>
                            <td>3,84</td>
                        </tr>
                        <tr>
                            <td>Goals Against per game</td>
                            <td>0,6</td>
                        </tr>
                        <tr>
                            <td>Goal ratio</td>
                            <td>1.1</td>
                        </tr>
                        <tr>
                            <td>Favorit Team</td>
                            <td>Bayern munchen</td>
                        </tr>
                        <tr>
                            <td>Scored most with</td>
                            <td>Lewandowski</td>
                        </tr>
                        <tr>
                            <td>Player most scored against you</td>
                            <td>Messi</td>
                        </tr>
                        <tr>
                            <td>Most played vs</td>
                            <td>FC Barcalona</td>
                        </tr>
                        <tr>
                            <td>Seasons played</td>
                            <td>35</td>
                        </tr>
                        <tr>
                            <td>Seasons played current division</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Promotions</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>Relegations</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>highest division</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Relegations</td>
                            <td>3</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
}
<script>

</script>
@Scripts.Render("~/bundles/slider")

<script>

    //$.ajax({

    //    type: "Post",
    //    url: "/Player/runThis",
    //    cache: false,
    //    async: false,
    //    data: {
    //    },

    //    success: function (data) {

    //        console.log(data);
    //    }

    //});
 




</script>




